{% load static %}
<div class="window-wrapper">
    <div id="loginWindow" class="window">
        <div id="close-auth" class="window__close">
            <img class="close" src="{% static 'img/close.png'%}" alt="">
        </div>
        <div id="win" class="window__inner">
            <h3 class="window__title">Авторизация</h3>
            <div class="window__autorize autorize">
                <form class="window__form form">
                    <input id="authLogin" class="form__input" type="text" placeholder="email">
                    <input id="authPass" class="form__input" type="password" placeholder="пароль">
                    <div id="authBtn" class="button form__btn">Войти</div>
                </form>
                <div class="autorize__reset">
                    <div id="resetPass">Сбросить пароль</div>
                </div>
            </div>
        </div>
    </div>
</div>