{% load static %}
<div class="main__inner place">
    <div class="place__category category">
        <div class="">Категории товаров</div>
        <ul id="category__list" class="category__list list">
        </ul>
    </div>
    <div id="showcase" class="place__showcase showcase">
    </div>
<!--  
    <div class="showcase__product product">
        <img class="product__img" src="/static/img/products/'+products[i].image+'" onerror="this.src=`/static/img/noimage.png`" alt="">
        <h3 class="product__name">'+products[i].productName+'</h3>
        <p class="product__category"><span>категория:</span> <span class="category__name">'+ products[i].category+'</span></p>
        <p class="product__descipt">'+products[i].description+'</p>
        <p class="product__seller"><span>Продавец: </span><span class="product__sellername"></span></p>
        <div class="product__cost cost">'+products[i].cost+'</div>
        <div class="product__counter counter">
            <div id="counter__left'+i+'">-</div>
            <div id="number'+i+'" class="counter__number">5</div>
            <div id="counter__right'+i+'">+</div>
        </div>
        <div class="button buy__btn">В корзину</div>
    </div>
    -->
</div>