{% csrf_token %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <input type="file" name="" id="iput_file">
    <button value="send" onclick="send()">Send</button>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function send() {
            var input_form = document.getElementById('iput_file');
            var opened_file = input_form.files[0];

            

            formData.append('file_name', opened_file.name);
            formData.append('csrfmiddlewaretoken', getCookie('csrftoken'));

            $.ajax({
                url: '/add_product',
                method: 'post',
                processData: false,
                contentType: false,
                data: formData
            });

            console.log(opened_file);
        }
    </script>
</body>

</html>