{% load static %}
<div class="window-wrapper">
    <div id="offerWindow" class="window">
        <div class="window__close">
            <img class="close" src="{% static 'img/close.png'%}" alt="">
        </div>
        <div class="window__inner">
            <h3 class="window__title">Заявка на получение статуса "Продавец"</h3>
            <div class="window__autorize autorize">
                <div class="message" id="message"></div>
                <form class="window__form form">
                    <input id="userFirstName" class="form__input" type="text" placeholder="имя">
                    <input id="userLastName" class="form__input" type="text" placeholder="фамилия">
                    <input id="userEmail" class="form__input" type="text" placeholder="email">
                    <textarea id="userOffer" cols="30" rows="10" placeholder="Сопроводительное письмо"></textarea>
                    <div id="registerBtn" class="button form__btn">Продолжить</div>
                </form>
            </div>
        </div>
    </div>
</div>