{% load static %}
    <div class="main__inner place user__page">
        <div class="place__user user">
            <h3 class="user__title">Информация</h3>
            <div class="user__name">Имя: <span id="username"></span></div>
            <div class="user__balance">Баланс: <span id="balance">0</span></div>
            <div id="addProducts_btn" class="button">Добавить товар</div>
        </div>
        <div class="place__basket basket">
            <h3 class="basket__title">Мои товары</h3>
            <div id="products" class="place__showcase showcase">
                
            </div>
        </div>
        
    </div>
